{% extends "users/base.html" %}
{% block body %}
<div class="flex justify-center mt-5 p-10">
    <h1 class="text-3xl font-normal mb-2 text-gray-500">Edit Profile</h1>
</div>
<div class="container py-5 mx-10">
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-2">
      <label class="block text-grey-700 text-sm font-bold mb-2" for="">First name</label>
      <div class="shadow appearance-none rounded border py-2 px-3 mr-10 text-grey-700">
         {{user_form.first_name}}
      </div>
    </div>
    <div class="mb-2">
      <label class="block text-grey-700 text-sm font-bold mb-2" for="">Last name</label>
      <div class="shadow appearance-none rounded border py-2 px-3 mr-10 text-grey-700">
         {{user_form.last_name}}
      </div>
    </div>
    <div class="mb-2">
      <label class="block text-grey-700 text-sm font-bold mb-2" for="">Email</label>
      <div class="shadow appearance-none rounded border py-2 px-3 mr-10 text-grey-700">
         {{user_form.email}}
      </div>
    </div>
    <div class="mb-2">
      <label class="block text-grey-700 text-sm font-bold mb-2" for="">Profile Pic</label>
      <div class="shadow appearance-none rounded border py-2 px-3 mr-10 text-grey-700">
         {{profile_form.photo}}
      </div>
    </div>
   <button  class="text-white bg-green-500 px-5 py-2" ><a href="{% url 'password_reset' %}">Submit</a></button>
 </form>

</div>
{% endblock body %}